/* =============== css variables ================ */
$header-height: 3.5rem;
/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
$blue-color: #6480bf;
$blue-color-alt: #283a61;
$orange-color: #ff7a01;
$orange-color-alt: #663b23;
$container-color: #121212;
$container-alt-color: #545454;
$body-color: #191919;
$content-color: #d4d5d7;
/*========== Font and typography ==========*/
$body-font: sans-serif;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;
/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/*========== responsive Font and typography ==========*/
@media screen and (min-width: 968px) {
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}

/* =================== base ===================================  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: $content-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $content-color;
}

/* ================ reusable classes ========================  */
.grid {
  display: grid;
  grid-gap: 1.5rem;
}

.section {
  padding: 4rem 0 2rem;
}

.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: $small-font-size;
  background-color: $blue-color;
  color: white;
  border: none;
  border-radius: 0.5rem;
  align-items: center;
  letter-spacing: 1px;
  font-weight: $font-medium;
  transition: 0.3s;
  cursor: pointer;

  &:active {
    background-color: $blue-color-alt;
  }
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: $container-color;
  width: 25vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  .sidebar_name {
    font-size: $h1-font-size;
    color: $content-color;

    span {
      color: $blue-color;
    }
  }

  .sidebar-search {
    padding: 0.5rem 1rem;
    border: none;
    background-color: $container-alt-color;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      color: $content-color;
    }

    input {
      height: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: center;
      color: $content-color;
    }
  }

  .add {
    width: 100%;
  }

  .recent-tabs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: auto;
    flex-grow: 1;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .tabs {
    padding: 0.5rem;
    background-color: $container-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: space-between;
    border-radius: 12px;
    cursor: pointer;

    span h2 {
      display: inline;
      color: $content-color;

      font-size: 0.9rem;
    }

    i {
      color: $blue-color;
      font-size: 1.5rem;
      cursor: pointer;
    }

    span * {
      margin: 5px 0;
    }

    // &:hover {
    //   background-color: $body-color;
    // }
  }

  .tabs:focus {
    background-color: $body-color;
  }
}

.mainbar {
  position: relative;
  width: 80vw;
  right: 0;
  padding: 2rem;

  .address {
    margin-bottom: 2rem;

    h2 {
      opacity: 0.5;
      margin: 0;
      font-size: 1rem;
    }

    .bars {
      display: none;
    }
  }

  .mainbar-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .content {
      width: 100%;
      display: grid;
      row-gap: 1rem;
      margin-bottom: 1rem;

      .heading {
        font-size: 1.5rem;
        resize: none;
      }

      .discription {
        font-size: 1rem;
      }

      input {
        padding: 18px;
        border: none;
        background-color: transparent;
        color: $content-color;
        font-weight: 600;
        text-align: start;
        letter-spacing: 2px;
        border-radius: 12px;
      }

      ::-webkit-scrollbar {
        width: 0px;
      }

      textarea {
        ::-webkit-scrollbar {
          width: 0px;
        }

        height: 19rem;
        resize: horizontal;
        padding: 18px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        resize: none;
        font-weight: 600;
        text-align: start;
        overflow-y: scroll;
        // background-color: black;
        border-radius: 12px;
        color: $content-color;
      }

      textarea:focus,
      input:focus {
        background-color: black;
        outline: none;
      }
    }

    .dlt-btn {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .delete {
        background-color: transparent;
        color: $blue-color;
        cursor: pointer;

        i {
          font-size: 1.4rem;
        }

        &:active {
          color: $blue-color-alt;
        }
      }
    }

    .data-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
      text-align: center;
      row-gap: 0.9rem;

      .date {
        color: $blue-color;
      }

      .add-btn {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .edit {
          border-radius: 100px;
          border: 4px solid $content-color;
          color: $content-color;
          background-color: transparent;
          padding: 0.7rem;
          font-size: $h1-font-size;
          display: grid;
          place-content: center;

          &:active {
            border: 4px solid $blue-color;
            color: $blue-color;
          }
        }
      }
    }
  }
}

/*========== responsive Font and typography ==========*/
@media screen and (max-width: 968px) {
  .sidebar {
    .sidebar-search {
      padding: 0.5rem;

      input {
        width: 9rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    .sidebar-search {
      padding: 0.5rem;

      input {
        width: 7rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    .sidebar-search {
      padding: 0.5rem 0.7rem;

      input {
        width: auto;
      }
    }

    transition: 0.9s;
    width: 85%;
    position: absolute;
    /*--------------------<*/
    top: 0;
    height: 100vh;
    left: -500px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .mainbar .address .bars {
    display: inline;
  }

  .mainbar .address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  // bruhhh idk ye kese chll gya ki ek absoulate dive ke under if i want a scrlling div then put it posiition to the sticky, booom
  .recent-tabs {
    position: sticky;
    /*--------------------<*/
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: scroll;
  }

  .mainbar {
    position: relative;
    width: 100vw;
    padding: 2rem;
  }

  .mainbar .mainbar-content .content input {
    width: 18rem;
  }

  .mainbar .mainbar-content .content textarea {
    width: auto;
  }

  .mainbar .mainbar-content .data-div .add-btn .edit {
    font-size: 1rem;
  }

  .mainbar .mainbar-content .data-div .date {
    font-size: 1rem;
  }

  .showcase {
    left: 0;
  }
}

@media screen and (max-width: 350px) {
  $h1-font-size: 1.5rem;
  $h2-font-size: 1.2rem;
  $h3-font-size: 1rem;
  $normal-font-size: 0.7rem;
  $small-font-size: 0.5rem;

  .mainbar {
    padding: 1rem;
  }

  .mainbar .address h2 {
    font-size: 0.7rem;
  }

  .mainbar .mainbar-content .content .discription {
    font-size: 0.7rem;
    padding: 10px;
    width: 15rem;
  }

  .mainbar .mainbar-content .content input {
    width: 15rem;
    padding: 10px;
  }

  .mainbar .mainbar-content .content .heading {
    font-size: 1rem;
  }

  .mainbar .mainbar-content .data-div .add-btn .edit {
    font-size: 0.7rem;
    padding: 8px;
  }

  .mainbar .mainbar-content .content {
    width: 100%;
    display: -ms-grid;
    display: grid;
    row-gap: 1rem;
  }

  .mainbar .address {
    margin-bottom: 1rem;
  }

  .button {
    padding: 0;
  }

  .mainbar .mainbar-content .content {
    row-gap: 1rem;
    margin-bottom: 0rem;
  }

  .mainbar .address {
    margin-bottom: 3rem;
  }

  .sidebar .add {
    width: 100%;
    padding: 0.5rem;
  }
}
