/* =============== css variables ================ */
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/*========== responsive Font and typography ==========*/
/* =================== base ===================================  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Harmattan", sans-serif;
  font-size: 0.938rem;
  background-color: #191919;
  color: #d4d5d7;
}

/* ================ css ========================  */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  z-index: 100;
  border-bottom: 1px solid white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav nav {
  margin: 0 1rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav nav .nav_title {
  cursor: pointer;
  color: #d4d5d7;
}

.nav nav .nav_title:active {
  color: #7756fd;
}

.nav nav .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav nav .nav_list li {
  margin: 0 0.2rem;
}

.nav nav .nav_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d4d5d7;
}

.nav nav .nav_list li a:active {
  color: #7756fd;
}

.nav nav .nav_open {
  position: absolute;
  background-color: #121212;
  top: 0;
  right: -1300px;
  width: 90%;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
  overflow-y: scroll;
}

.nav nav .nav_open::-webkit-scrollbar {
  display: none;
}

.nav nav .nav_open .nav_open_operations {
  background-color: #121212;
  position: fixed;
  z-index: 100;
  width: 90%;
}

.nav nav .nav_open .nav_open_operations .nav_open_title {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  -webkit-column-gap: 0.4rem;
          column-gap: 0.4rem;
}

.nav nav .nav_open .nav_open_operations .nav_open_title span {
  color: #7756fd;
}

.nav nav .nav_open .nav_open_operations .nav_open_search {
  border: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 1.5rem;
}

.nav nav .nav_open .nav_open_operations .nav_open_search .nav_open_search_bar {
  border: none;
  width: 80%;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  background-color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav nav .nav_open .nav_open_operations .nav_open_search .nav_open_search_bar i {
  font-size: 1.25rem;
  color: white;
}

.nav nav .nav_open .nav_open_operations .nav_open_search .nav_open_search_bar input {
  color: #d4d5d7;
  width: 100%;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.nav nav .nav_open .nav_open_operations .add_btn {
  margin-bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav nav .nav_open .nav_open_operations .add_btn .button {
  border-radius: 12px;
  width: 75%;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-size: 0.813rem;
  background-color: #7756fd;
  color: #d4d5d7;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.5px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.nav nav .nav_open .nav_open_operations .add_btn .button:active {
  background-color: #583fbb;
}

.nav nav .nav_open .nav_open_operations .notes_count {
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 0.7rem;
}

.nav nav .nav_open .recent-notes {
  margin-top: 18rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav nav .nav_open .recent-notes .note {
  padding: 0.5rem;
  background-color: #191919;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 12px;
  cursor: pointer;
}

.nav nav .nav_open .recent-notes .note i {
  color: #7756fd;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav nav .nav_open .recent-notes .note span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0;
}

.nav nav .nav_open .recent-notes .note span .note-title {
  font-size: 1.2rem;
  color: #d4d5d7;
}

.nav nav .nav_open .recent-notes .note span .note-body {
  opacity: 0.7;
}

.nav nav .nav_open .recent-notes .note span .note-update {
  font-size: 0.9rem;
  color: #7756fd;
}

.nav nav .nav_open .recent-notes .active_note i {
  color: #ff7a01;
}

.nav nav .nav_open .recent-notes .active_note span .note-update {
  color: #ff7a01;
}

.nav nav .showcase {
  right: 0;
}

.main {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 2.5rem);
  margin-top: 2.5rem;
  padding: 1rem 2rem;
}

.main .note_address {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 2rem;
}

.main .note_address h2 {
  opacity: 0.5;
}

.main .note_title {
  margin-bottom: 2rem;
}

.main .note_title input {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: start;
  letter-spacing: 1.5px;
  background-color: transparent;
  color: #d4d5d7;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .note_title input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .note_body {
  height: 70vh;
}

.main .note_body textarea {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
  line-height: 1.7;
  background-color: transparent;
  border-radius: 8px;
  color: #d4d5d7;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

.main .note_body textarea::-webkit-scrollbar {
  display: none;
}

.main .note_body textarea:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.note_update {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: 1px solid white;
  background-color: #121212;
  width: 100%;
  padding: 0.4rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.note_update h1 {
  font-size: 1.25rem;
  color: #ff7a01;
}

.ask_delete {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid black;
  border-radius: 18px;
  background-color: #121212;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 1rem 0.5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
}

.ask_delete h2 {
  color: #7756fd;
}

.ask_delete .ask_delete_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.ask_delete .ask_delete_btns i {
  font-size: 1.5rem;
  cursor: pointer;
}

.ask_delete .ask_delete_btns i:active {
  color: #7756fd;
}

.ask_delete_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
| =============================================================== |
|                                                                 |
|                          BREAK POINTS                           |
|                                                                 |
| =============================================================== |
*/
@media screen and (max-height: 700px) {
  .main .note_body {
    height: 60vh;
  }
}

@media screen and (min-width: 500px) {
  .notes_count {
    padding-left: 2rem !important;
  }
}

@media screen and (min-width: 800px) {
  .notes_count {
    padding-left: 3rem !important;
  }
}

@media screen and (min-width: 1100px) {
  .notes_count {
    padding-left: 4rem !important;
  }
}
/*# sourceMappingURL=index.css.map */